.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: blue;
  width: 50vw;
  height: 50vh;
}

.inner-grid {
  border: 1px solid black;
}

.user-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.user-selection::after {
  font-size: 3rem;
  content: "x";
  position: absolute;
}
